.flashsale {
  background-color: #ffffff;
  margin: auto;
  margin-top: 2%;
}
.flashsale .flashsale__top {
  padding: 1% 2%;
}
.flashsale .flashsale__top .flashsale__top-left {
  gap: 10px;
}
.flashsale .flashsale__top .flashsale__top-left img {
  width: 20%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.flashsale .flashsale__top .flashsale__top-left .coundown-time {
  background-color: black !important;
  color: #ffffff;
}
.flashsale .flashsale__top .flashsale__top-right a {
  text-decoration: none;
  font-size: 0.7rem;
  color: #ee4d2d;
}
.flashsale .flashsale__bottom .flashsale__product, .flashsale .flashsale__bottom .flashsale__product-2, .flashsale .flashsale__bottom .flashsale__product-3 {
  width: 96%;
  margin: auto;
  list-style: none;
  padding: 0px;
  padding-bottom: 1%;
}
.flashsale .flashsale__bottom .product__item a {
  gap: 0.4rem;
  position: relative;
  text-decoration: none;
  margin: 5px;
}
.flashsale .flashsale__bottom .product__item a img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.flashsale .flashsale__bottom .product__item a .product__img img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}
.flashsale .flashsale__bottom .product__item a .product__img .i-product {
  position: relative;
}
.flashsale .flashsale__bottom .product__item a .product__img .mall {
  position: absolute;
  top: 0px;
  z-index: 100;
  justify-content: space-between;
}
.flashsale .flashsale__bottom .product__item a .product__img .mall > span {
  background-color: rgb(208, 1, 27);
  color: #ffffff;
  font-size: 0.7rem;
  font-weight: 400;
  padding: 2px;
  border-radius: 0px 3px 3px 0px;
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  -ms-border-radius: 0px 3px 3px 0px;
  -o-border-radius: 0px 3px 3px 0px;
}
.flashsale .flashsale__bottom .product__item a .product__img .mall .sale {
  background-color: #ffe97a;
  color: #f35830;
  font-size: 0.7rem;
  font-weight: 500;
}
.flashsale .flashsale__bottom .product__item a .price {
  margin: 1%;
}
.flashsale .flashsale__bottom .product__item a .sold {
  width: 90%;
  height: 1.2rem;
  background-color: #ffbda6;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}
.flashsale .flashsale__bottom .product__item a .sold .sold___shape {
  z-index: 2;
}
.flashsale .flashsale__bottom .product__item a .sold span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 3;
  text-align: center;
}

#demo {
  margin: 0;
}

.banner__sale {
  flex-grow: 1;
  margin: 2% 0%;
}
.banner__sale img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.slick-prev {
  display: none !important;
}

.slick-next {
  position: absolute;
  top: 40%;
  right: -5px;
  background-color: #fff;
  border: none;
  color: #555;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 3px 7px;
  z-index: 2;
}

.slick-next:hover {
  padding: 5px 10px;
  transform: scale(1.1);
}/*# sourceMappingURL=flashsale.css.map */