@media (max-width: 992px) {
    .deal {
        display: none;
    }
    .search {
        height: 100%;
    }
    .menu .menu__bottom .cart svg {
        width: 100%;
    }
    .menu__bottom{
        align-items: center;
    }
}

@media (max-width: 768px) {
    * {
        font-size: 0.6rem;
    }
    .logo {
        display: none !important;
    }
    .menu__top {
        display: none !important;
    }
    .user {
        display: block !important;
    }
    .cart,
    .user {
        width: 7% !important;
    }
    .contentinfo,
    .footer,
    .footer__bottom {
        display: none !important;
    }
    .header__seletion-bottom{
        flex-direction: column;
        .header__selection-bottom-left {
            width: 100% !important;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .header__seletion-bottom-right{
            width: 100% !important;
        }
    }
}
@media (max-width: 480px) {
    .right__banner {
        display: none !important;
    }
    .banner .banner__content {
        width: 100%;
    }
    .banner .banner__top .carousel {
        width: 100%;
    }
}
