.category {
    h3 {
        padding: 2% 2%;
        margin: 0px;
    }
    background-color: #ffffff;
    margin: auto;
    margin-top: 2%;
    .category__content {
        .category__list {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(10%, 2fr));
            list-style: none;
            padding: 0px;
            flex-wrap: wrap;
            margin: 0px;

            .category__list-item {
                border: 1px solid rgba(0, 0, 0, 0.05);
                border-bottom: none !important;
                height: 100%;
                a {
                    text-decoration: none;
                    color: black;
                }
                img {
                    width: 80%;
                }
                a {
                    text-decoration: none;
                    gap: 10px;
                    img {
                        width: 80%;
                        height: 80%;
                        object-fit: cover;
                    }
                }
            }
            span {
                width: 80%;
                height: 3.125rem;
                font-size: 0.8rem;
                color: rgba(0, 0, 0, 0.87);
                font-weight: 400;
                text-align: center;
                overflow: hidden;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                text-transform: capitalize;
            }
        }
    }
}
/* CSS cho slider */
.category__list {
    width: 100%;
    margin: 0 auto;
}

/* CSS cho mỗi item trong slider */
.category__list-item {
    width: 100%;
    box-sizing: border-box;
}

/* CSS cho ảnh trong mỗi item */
.category__list-item img {
    width: 100%;
    height: auto;
    max-height: 100px; /* Điều chỉnh chiều cao tối đa của ảnh */
    object-fit: cover; /* Đảm bảo ảnh không bị méo */
}

/* CSS cho mô tả trong mỗi item */
.category__list-item span {
    margin-top: 10px;
    text-align: center;
}

/* Định dạng số cột và hàng cho slider */
.slick-slide {
    display: flex;
    flex-wrap: wrap;
}

/* Chia mỗi slide thành 2 hàng */
.slick-slide .category__list-item {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

/* Định dạng cho số cột và hàng trên các điểm breakpoint */
@media (min-width: 768px) {
    .slick-slide .category__list-item {
        width: 33.33%; /* Chia thành 3 cột khi độ rộng màn hình >= 768px */
    }
}

@media (min-width: 992px) {
    .slick-slide .category__list-item {
        width: 25%; /* Chia thành 4 cột khi độ rộng màn hình >= 992px */
    }
}
