.wrapper{
    width: 100%;
    background-color: #f5f5f5;
    position: static !important;
    .container{
        width: 90%;
        padding: 0px;
        .title{
            font-size:1rem;
            text-transform: uppercase;
            color: rgba(0,0,0,.54);
        }
    }
}
.orange-color{
    color: #f35830;
}
.yellow-color{
    color: #f35830;
}